:root{
  --txtwhite:#422800;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 15px 0px 4px;
  text-decoration: none;
  font-size: 30px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
body{
  background-color: #E4E4DC;
}
#title{
  color: var(--txtwhite);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  text-align: center;
  font-size: 60px;
}
#par1{
  color: var(--txtwhite);
  width: 600px;
  position: relative;
  margin: auto;
  font-size: 25px;
  text-align: center; 
}
#line1{
  background-color:black;
  height:3px;
  width:600px;
}
.calendar {
text-align:center;
}
.button{
  text-align: center;
  padding-bottom: 20px;
}
/*height: 70px;
  width:180px;
  text-align:center;
  padding-bottom: 6%;
  font-size:20px;
  border-width:8px;
  background:#333;
  color:aliceblue;
  border-color:#333;*/
  


  .button-74 {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .button-74:hover {
    background-color: #fff;
  }

  .button-74:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }

  @media (min-width: 768px) {
    .button-74 {
      min-width: 120px;
      padding: 0 25px;
    }
  }
#topline{
  background-color:black;
  height:3px;
  width:200px;
}
#bottomline{
  background-color:black;
  height:3px;
  width:200px;
}
#logo{
  width: 150px;
  height:150px;
  padding-bottom:10px;
}







