body{
    background-color: rgb(67, 67, 67);
}
#title{
    color: rgb(197, 200, 200); 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    text-align: center;
    font-size: 60px;
}
#par1{
    color: rgb(109, 200, 174); 
    width: 600px;
    position: relative;
    margin: auto;
    font-size: 25px;
    text-align: center; 
}
#home{
    color: rgb(232, 215, 184); 
    background-color: rgb(141, 104, 12);
    height: 50px;
    width: 100px;
    border-color: rgb(109, 200, 174);
    border-width: 7px;
}